body {
    text-align: center;
    background-color: gray;
    font-family: "Lato", sans-serif;
    font-weight: 300;
  	box-sizing: border-box;
  	display: block;
  	margin-left: 10px;
  	margin-right: 10px;
}

p {
	margin: 5px;
}

canvas {
	min-width: 768px;
}

#main {
	width: 100%;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
  	/*justify-content: space-around;*/
  	padding: 0;
}

#sidebar {
	/*width: 15%;*/
/*	  	background-color: red;*/
	  	width: calc(100% - 768px);
	  	/*min-width: 200px;*/
	  	font-family: sans-serif;
	  	font-size: 30px;
/*	  	width: 100%;*/
}

@media only screen and (max-width: 1024px) {

   canvas {
   		margin-right: auto;
   		margin-left: auto;
   }
   #sidebar {
   		width: 100%;
   }

}
